.account {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 150px);
    width: 100vw;
    header {
        height: 100px;
        @include flexLeft(column, center);
        font-family: 'Questrial', sans-serif;
        font-size: 28px;
        padding-left: 35px;
    }
    
}

.big-boy {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-left: 25px;
}

.make-changes {
    width: 200px;
    height: auto;
    
}

.hold-container {
    width: 500px;
    margin-left: 25px;
    font-family: 'Questrial', sans-serif;
}

.hold {
    display: flex;
    align-items: flex-start;
    height: fit-content;
    width: 500px;;
    font-family: $mainFont;
    color: black;
    text-decoration: none;
    border: solid 1px black;
    margin-top: 10px;
    position: relative;
    img {
        width: 50px;
        margin: 10px;
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 10px;
        
    }
    button {
        position: absolute;
        right: 10px;
        margin-top: 10px;
    }
}

.dropzone {
    height: 300px;
    width: 300px;
    border: dashed, 3px;
    background-color: rgb(177, 175, 175);
}