@media (max-width: 768px){
    .hold {
        width: 275px;
        h2 {
            font-size: 14px;
            margin-top: 7px;
        }
        img {
            width: 75px;
        }
        button {
            bottom: 20px;
            right: 20px;
        }
    }
}