@media (max-width: 900px){
    .dash {
        height: fit-content;
    }
    .cell {
        
        &#adult {
            border-top-left-radius: 0px;
            border-bottom-right-radius: 0px;
            &::before{
                border-left: none;
                border-top-left-radius: 0px;
                
            }
            &::after{
                border-bottom-right-radius: 0px;
                border-right: none;
            }
            @include left-point()
        }
        &#senior {
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            &::before{
                border-right: none;
                border-top-right-radius: 0px;
            }
            &::after{
                border-left: none;
                border-bottom-left-radius: 0px;
            }
            @include right-point()
        }
    }

    .cell-img {
        &#adult {
            border-bottom-left-radius: 50px;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 0;
            border-top-left-radius: 0;
        }

        &#senior {
            border-bottom-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 50px;
            border-top-left-radius: 50px;
        }
    }
}