.set-wrapper {
    height: calc(100vh - 150px);
    width: 100vw;
    background-color: rgb(123, 172, 144);
}

.settings{
    height: calc(100vh - 150px);
    width: 100vw;
    background-color: rgb(123, 172, 144);
    font-size: 20px;
    header {
        @include header();
    }
    animation: fadein 2s;

    @keyframes fadein {
        from {opacity: 0;}
        to {opacity: 1;}

    }
}

button {
    @include button()
}

.set-grid {
    display: flex;
}

.preview {
    height: auto;
    width: 200px;
    margin-left: 40px;
    margin-bottom: 20px;
    @include left-point();
    box-sizing: border-box;
}

.dropzone {
    height: 200px;
    width: 200px;
    border: 3px dashed white;
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    p {
        font-family: $mainFont;
        font-size: 18px;
        color: rgb(18, 97, 170);
    }
    
}

.option-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 250px;
    margin-left: 25px;
    font-family: $mainFont;
    color: white;
}

.branch-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    &::before {
        content: 'Pickup Branch:';
    }
    .branch {
        width: 153px;
    }
}

.checkbox-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    &::before {
        content: 'Change Password:';

    }
    
}

.old-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    &::before {
        content: 'Old Password:';
        margin-right: 5px;
    }
}

.new-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    &::before {
        content: 'New Password:';
        margin-right: 5px;
    }
}



