.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 150px;
  background-color: #759ab8;
  font-family: "Roboto", sans-serif;
  color: white;
  position: relative;
}

.nav .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  left: 5%;
  top: 10%;
  height: 120px;
  width: 120px;
  background-image: linear-gradient(25deg, #ff8652 10%, #eb4444 10%, #eb4444 20%, #d67b71 20%, #d67b71 30%, #ffb190 30%, #ffb190 40%, #f2994a 40%, #f2994a 50%, #ff8652 50%, #ff8652 60%, #eb4444 60%, #eb4444 70%, #d67b71 70%, #d67b71 80%, #ffb190 80%, #ffb190 90%, #f2994a 90%, #f2994a 100%);
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

.nav .letters {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 80%;
  border: 6px solid white;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

.nav .d {
  position: absolute;
  top: 0;
  left: 40px;
  height: 70%;
  width: 5px;
  background-color: white;
}

.nav .d::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 5px solid white;
}

.nav .p {
  position: absolute;
  bottom: 0;
  right: 40px;
  height: 70%;
  width: 5px;
  background-color: white;
}

.nav .p::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 5px solid white;
}

.nav h1 {
  font-size: 42px;
}

.nav .greeting {
  position: absolute;
  left: 18%;
  font-family: 'Questrial', sans-serif;
}

.nav .logged-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 300px;
  font-size: 20px;
  margin-top: 8px;
  margin-left: 20px;
}

.nav button {
  border: 1px solid #1261aa;
  border-radius: 0.25rem;
  background: #759ab8;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  font-family: 'Questrial', sans-serif;
  color: white;
}

.nav button:hover {
  background: #d67b71;
  border-color: #833f83;
}

.nav .container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 5%;
  cursor: pointer;
}

.nav .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 400px;
  height: 50px;
  margin-right: 20px;
  opacity: 0;
  -webkit-transition: .05s;
  transition: .05s;
}

.nav .user {
  width: 67px;
}

.nav .event, .nav .resources {
  font-size: 18px;
}

.nav .link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav .link:hover {
  font-weight: 700;
  font-size: 18px;
}

.nav .bar1, .nav .bar2, .nav .bar3 {
  width: 80px;
  height: 15px;
  background-color: white;
  margin: 8px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav .change.menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 400px;
  height: 50px;
  margin-right: 47px;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.nav .dropdown {
  display: none;
  position: relative;
}

.nav .hamburger {
  position: relative;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.nav .hamburger::before {
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  border: 5px solid white;
  border-radius: 50%;
  opacity: 0;
}

.nav .hamburger::after {
  content: 'x';
  position: absolute;
  font-family: 'Questrial', sans-serif;
  font-weight: 700;
  font-size: 45px;
  opacity: 0;
}

.nav .change.hamburger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.nav .change.hamburger::before {
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  border: 5px solid white;
  border-radius: 50%;
  opacity: 1;
}

.nav .change.hamburger::after {
  content: 'x';
  position: absolute;
  font-family: 'Questrial', sans-serif;
  font-weight: 700;
  font-size: 45px;
  opacity: 1;
}

.nav .change.bar1 {
  -webkit-transform: translate(-410px, 30px) rotate(-450deg);
  transform: translate(-383px, 20px) rotate(-450deg);
  height: 5px;
}

.nav .change.bar1::before {
  display: none;
}

.nav .change.bar2 {
  -webkit-transform: translate(-310px, 5px) rotate(-450deg);
  transform: translate(-277px, -1px) rotate(-450deg);
  height: 5px;
}

.nav .change.bar3 {
  -webkit-transform: translate(-150px, -20px) rotate(-450deg);
  transform: translate(-148px, -22px) rotate(-450deg);
  height: 5px;
}

@media (max-width: 1240px) {
  .nav {
    z-index: 10;
  }
  .nav .greeting {
    left: 25%;
  }
  .nav .container {
    right: 0;
    top: 29px;
    height: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .nav .menu-items {
    display: none;
  }
  .nav .change.menu-items {
    display: none;
  }
  .nav .event, .nav .resources, .nav .cat, .nav .user {
    height: 35px;
    width: 155px;
    color: ivory;
    font-size: 26px;
    text-align: right;
    padding-right: 25px;
    padding-top: 2px;
    background-color: rgba(131, 63, 131, 0.767);
  }
  .nav .event {
    padding-top: 15px;
  }
  .nav .user {
    padding-bottom: 10px;
  }
  .nav .link {
    font-size: 26px;
    color: ivory;
  }
  .nav .link:hover {
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
  }
  .nav .change.hamburger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .nav .change.hamburger::before {
    display: none;
  }
  .nav .change.hamburger::after {
    display: none;
  }
  .nav .change.bar1 {
    -webkit-transform: translate(0px, 28px) rotate(90deg);
            transform: translate(0px, 28px) rotate(90deg);
    height: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav .change.bar2 {
    height: 5px;
    width: 25px;
    -webkit-transform: translate(-7px, 40px) rotate(45deg);
            transform: translate(-7px, 40px) rotate(45deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav .change.bar3 {
    height: 5px;
    width: 25px;
    -webkit-transform: translate(8px, 19px) rotate(-45deg);
            transform: translate(8px, 19px) rotate(-45deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav .dropdown {
    display: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0;
    height: 170px;
    width: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 35px;
    opacity: 0;
  }
  .nav .change.dropdown {
    display: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 180px;
    width: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 58px;
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
}

.dash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #072847;
  padding-top: 10px;
}

.grid {
  background-color: #072847;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
  height: calc(100vh - 120px);
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cell {
  height: 275px;
  width: 400px;
  margin: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #ad7baf;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 36px 4px #040116;
  box-shadow: 0px 5px 36px 4px #040116;
}

.cell#child {
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

.cell#child::before {
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-top-right-radius: 50px;
}

.cell#child::after {
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-bottom-left-radius: 50px;
}

.cell#child:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.cell#child:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.cell#teen {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

.cell#teen::before {
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-top-left-radius: 50px;
}

.cell#teen::after {
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-bottom-right-radius: 50px;
}

.cell#teen:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.cell#teen:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.cell#adult {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

.cell#adult::before {
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-top-left-radius: 50px;
}

.cell#adult::after {
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-bottom-right-radius: 50px;
}

.cell#adult:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.cell#adult:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.cell#senior {
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

.cell#senior::before {
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-top-right-radius: 50px;
}

.cell#senior::after {
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-bottom-left-radius: 50px;
}

.cell#senior:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.cell#senior:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.cell:hover .cell-img {
  opacity: 0.4;
}

.cell:hover .card-title {
  opacity: 1;
}

.cell::before, .cell::after {
  content: '';
  position: absolute;
  top: 1.25em;
  bottom: 1.25em;
  right: 1.25em;
  left: 1.25em;
  opacity: 1;
  -webkit-transition: -webkit-transform ease-out 250ms;
  transition: -webkit-transform ease-out 250ms;
  transition: transform ease-out 250ms;
  transition: transform ease-out 250ms, -webkit-transform ease-out 250ms;
}

.cell-img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  height: 275px;
  width: 400px;
  -webkit-transition: opacity ease-out 250ms;
  transition: opacity ease-out 250ms;
}

.cell-img#child {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left bottom;
     object-position: left bottom;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

.cell-img#teen {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right bottom;
     object-position: right bottom;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

.cell-img#adult {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

.cell-img#senior {
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

.card-title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  opacity: 0;
  -webkit-transition: opacity ease-out 250ms;
  transition: opacity ease-out 250ms;
}

.card-title h2 {
  font-size: 32px;
}

@media (max-width: 900px) {
  .dash {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .cell#adult {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .cell#adult::before {
    border-left: none;
    border-top-left-radius: 0px;
  }
  .cell#adult::after {
    border-bottom-right-radius: 0px;
    border-right: none;
  }
  .cell#adult::before {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-top-right-radius: 50px;
  }
  .cell#adult::after {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 50px;
  }
  .cell#adult:hover::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .cell#adult:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .cell#senior {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
  }
  .cell#senior::before {
    border-right: none;
    border-top-right-radius: 0px;
  }
  .cell#senior::after {
    border-left: none;
    border-bottom-left-radius: 0px;
  }
  .cell#senior::before {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-top-left-radius: 50px;
  }
  .cell#senior::after {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-bottom-right-radius: 50px;
  }
  .cell#senior:hover::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .cell#senior:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .cell-img#adult {
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
  }
  .cell-img#senior {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
  }
}

.login-wrapper {
  background-color: #88847d;
  height: calc(100vh - 150px);
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 150px);
  font-family: 'Questrial', sans-serif;
  background-image: url("../media/emily fowler tree.jpg");
  background-size: 120%, auto;
  background-position: center;
  color: ivory;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 635px;
  width: 525px;
  background-color: rgba(131, 63, 131, 0.767);
}

.login input {
  font-family: "Roboto", sans-serif;
}

.login h1 {
  font-size: 26px;
}

.login h2 {
  font-size: 22px;
}

.login button {
  border: 1px solid #1261aa;
  border-radius: 0.25rem;
  background: #759ab8;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  font-family: 'Questrial', sans-serif;
  color: white;
}

.login button:hover {
  background: #d67b71;
  border-color: #833f83;
}

.login p {
  text-align: center;
}

.login .link {
  text-decoration: none;
  color: white;
}

.reg-wrapper {
  height: calc(100vh - 150px);
  background-color: #636363;
}

.reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 150px);
  font-family: 'Questrial', sans-serif;
  background-image: url("../media/fowler front desk.jpg");
  background-size: 110%;
  background-position: center;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
  color: ivory;
  text-align: center;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .reg {
    background-position: cover;
    background-size: 115%;
  }
}

@media (max-width: 970px) {
  .reg {
    background-position: cover;
    background-size: 120%;
  }
}

@media (max-width: 905px) {
  .reg {
    background-position: cover;
    background-size: 125%;
  }
}

@media (max-width: 860px) {
  .reg {
    background-position: cover;
    background-size: 130%;
  }
}

@media (max-width: 835px) {
  .reg {
    background-position: cover;
    background-size: 140%;
  }
}

.reg .reg-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 635px;
  width: 465px;
  background-color: rgba(131, 63, 131, 0.767);
}

.reg h1 {
  font-size: 32px;
}

.reg h2 {
  font-size: 22px;
}

.reg p {
  width: 300px;
  font-size: 16px;
}

.reg button {
  border: 1px solid #1261aa;
  border-radius: 0.25rem;
  background: #759ab8;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  font-family: 'Questrial', sans-serif;
  color: white;
}

.reg button:hover {
  background: #d67b71;
  border-color: #833f83;
}

.catalog-wrapper {
  background-color: #072847;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Questrial', sans-serif;
  background-color: #072847;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.catalog h1 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: white;
}

.catalog .search {
  height: 165px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.catalog .search button {
  border: 1px solid #1261aa;
  border-radius: 0.25rem;
  background: #759ab8;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  font-family: 'Questrial', sans-serif;
  color: white;
}

.catalog .search button:hover {
  background: #d67b71;
  border-color: #833f83;
}

.empty {
  height: calc(100vh - 275px);
}

.book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 600px;
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration: none;
  border: solid 1px black;
  margin: 10px;
  background-color: #fdfdf6;
  -webkit-box-shadow: 0px 5px 13px 3px #040116;
  box-shadow: 0px 5px 13px 3px #040116;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.book h1 {
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: black;
}

.book h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.book img {
  width: 125px;
  margin: 15px;
}

.book .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 15px;
}

.act-wrapper {
  height: calc(100vh - 150px);
  width: 100vw;
  background-color: #7bac90;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 150px);
  width: 100vw;
  background-color: #7bac90;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

.account header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Questrial', sans-serif;
  font-size: 28px;
  padding-left: 35px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.big-boy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 40px;
}

.make-changes {
  width: 200px;
  height: auto;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  -webkit-box-shadow: 0px 5px 15px 4px #47756a;
  box-shadow: 0px 5px 15px 4px #47756a;
}

.make-changes::before {
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-top-right-radius: 50px;
}

.make-changes::after {
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-bottom-left-radius: 50px;
}

.make-changes:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.make-changes:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.hold-container {
  width: 500px;
  margin-left: 30px;
  font-family: 'Questrial', sans-serif;
}

.hold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 500px;
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration: none;
  border: solid 1px black;
  margin-top: 10px;
  position: relative;
  background-color: #fdfdf6;
}

.hold img {
  width: 50px;
  margin: 10px;
}

.hold .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 10px;
}

.hold button {
  position: absolute;
  right: 10px;
  margin-top: 10px;
}

@media (max-width: 848px) {
  .hold {
    width: 275px;
  }
  .hold h2 {
    font-size: 14px;
    margin-top: 7px;
  }
  .hold img {
    width: 75px;
  }
  .hold button {
    bottom: 20px;
    right: 20px;
  }
}

.set-wrapper {
  height: calc(100vh - 150px);
  width: 100vw;
  background-color: #7bac90;
}

.settings {
  height: calc(100vh - 150px);
  width: 100vw;
  background-color: #7bac90;
  font-size: 20px;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

.settings header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Questrial', sans-serif;
  font-size: 28px;
  padding-left: 35px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button {
  border: 1px solid #1261aa;
  border-radius: 0.25rem;
  background: #759ab8;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  font-family: 'Questrial', sans-serif;
  color: white;
}

button:hover {
  background: #d67b71;
  border-color: #833f83;
}

.set-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preview {
  height: auto;
  width: 200px;
  margin-left: 40px;
  margin-bottom: 20px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.preview::before {
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-top-right-radius: 50px;
}

.preview::after {
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-bottom-left-radius: 50px;
}

.preview:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.preview:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.dropzone {
  height: 200px;
  width: 200px;
  border: 3px dashed white;
  background-color: #d1d1d1;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.dropzone p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #1261aa;
}

.option-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  height: 250px;
  margin-left: 25px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.branch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.branch-wrapper::before {
  content: 'Pickup Branch:';
}

.branch-wrapper .branch {
  width: 153px;
}

.checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.checkbox-wrapper::before {
  content: 'Change Password:';
}

.old-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.old-wrapper::before {
  content: 'Old Password:';
  margin-right: 5px;
}

.new-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.new-wrapper::before {
  content: 'New Password:';
  margin-right: 5px;
}
/*# sourceMappingURL=app.css.map */