$primaryBtn : rgb(10, 110, 110);
$mainFont : 'Roboto', sans-serif;
@mixin flexLeft($direction, $justify) {
    
    display: flex;
    justify-content: $justify;
    align-items: baseline;
    flex-direction: $direction;
}


@import './nav';
@import './login';
@import './register';
@import './catalog';
@import './account';

