$mainFont : 'Roboto', sans-serif;
@mixin button() {
    border: 1px solid rgb(18, 97, 170);
    border-radius: 0.25rem;
    background: rgb(117, 154, 184);
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    cursor: pointer;
    font-family: 'Questrial', sans-serif;
    color: white;
    &:hover {
        background: #d67b71;
        border-color: rgb(131, 63, 131);
    }
}

@mixin flexCenter($direction, $justify) {
    
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexLeft($direction, $justify) {
    
    display: flex;
    justify-content: $justify;
    align-items: baseline;
    flex-direction: $direction;
}

@mixin header {
    height: 100px;
    @include flexLeft(column, center);
    font-family: 'Questrial', sans-serif;
    font-size: 28px;
    padding-left: 35px;
}

@mixin left-point {
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    &::before{
        transform: scale(0, 1);
        border-top: 2px solid white;
        border-right: 2px solid white;
        border-top-right-radius: 50px;
    }
    
    &::after{  
        transform: scale(1, 0);
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        border-bottom-left-radius: 50px;
    }

    &:hover::before {
        transform: scale(1, 1);
    }
    
    &:hover::after {
        transform: scale(1, 1);
    }
}
@mixin right-point {
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    &::before{
        transform: scale(0, 1);
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-top-left-radius: 50px;
    }
    
    &::after{  
        transform: scale(1, 0);
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        border-bottom-right-radius: 50px;
    }

    &:hover::before {
        transform: scale(1, 1);
    }
    
    &:hover::after {
        transform: scale(1, 1);
    }
}
@mixin circle($opacity){
    position: absolute;
        content: '';
        height: 40px;
        width: 40px;
        border: 5px solid white;
        border-radius: 50%;
        opacity: $opacity;
}
@mixin equis($opacity) {
    content: 'x';
        position: absolute;
        font-family: 'Questrial', sans-serif;
        font-weight: 700;
        font-size: 45px;
        opacity: $opacity;
}

@import './nav';
@import './navMedia';
@import './dash';
@import './dashMedia';
@import './login';
@import './register';
@import './catalog';
@import './catalogMedia';
@import './account';
@import './accountMedia';
@import './settings';


